/*  COLORS:
    Primary: #010005 (RGB: 1, 0, 5)
    Secondary: #f4f0ff (RGB: 244, 240, 255)
    Primary Button: #7c52fa (RGB: 124, 82, 250)
    Secondary Button: #ffffff (RGB: 255, 255, 255)
    Accent: #8f6bfa (RGB: 143, 107, 250) 
*/

:root {
  --primary-color: #010005;
  --secondary-color: #f4f0ff;
  --primary-button-color: #7c52fa;
  --secondary-button-color: #ffffff;
  --accent-color: #8f6bfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
}

header {
  padding: 15px 0;
  font-size: 1.1rem;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 70%;
  margin: auto;
}

.intro-info {
  margin-top: 30px;
}

.intro-info h1 {
  font-size: 3.5rem;
  color: var(--accent-color);
}

.intro-info h2 {
  font-size: 3rem;
}

.bio {
  margin: 150px 0;
  font-size: 1.2rem;
  display: flex;
}

.profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-right: 30px;
}

.skills {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
}

.frontend,
.backend,
.fullstack {
  width: 33.3%;
  height: 100%;
}

.frontend,
.backend {
  border-right: 2px solid rgba(0, 0, 0, 0.15);
}
